<div class="container mt-5">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h2>S'inscrire</h2>
      <hr>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="g-3">

        <div class="form-group mb-3">
          <input type="text" formControlName="firstName" class="form-control" placeholder="Prénom">
        </div>
        <div class="form-group mb-3">
          <input type="text" formControlName="lastName" class="form-control" placeholder="Nom">
        </div>
        <div class="form-group mb-3">
          <input type="email" formControlName="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group mb-3">
          <input type="text" formControlName="noTel" class="form-control" placeholder="Numéro de Téléphone">
        </div>
        <div class="form-group mb-3">
          <input type="password" formControlName="password" class="form-control" placeholder="Mot de passe">
        </div>

        <button class="btn btn-compte m-2" type="submit">S'inscrire</button>
        <button class="btn btn-fermer m-2" routerLink='/home' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Fermer</button>

      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
