<div class="container mt-5">
  <div class="row">
    <div class="col-3"></div> <!-- Colonne vide -->
    <div class="col-6">
      <h2>Se connecter</h2>
      <hr>


      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <input type="email" formControlName="email" class="form-control" placeholder="Courriel" autocomplete="email">
        </div>
        <div class="form-group mb-3">
          <input type="password" formControlName="password" class="form-control"
                 placeholder="Mot de passe" autocomplete="current-password">
        </div>
        <button type="submit" class="btn btn-compte m-2">Se connecter</button>
        <button class="btn btn-fermer m-2" routerLink='/home' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Fermer</button>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>





